.Signin_box
{
    width: 360px;
    height: 280px;
    margin-top: 150px;
    margin-left: 400px;
    background-color: white;
    border-radius: 3px;
    display: flex;
    flex-direction: column; 
    border-color: aqua;
}
body
{
    background-color: #344a72;
    font-family: 'Roboto',sans-serif;
}
h1
{
    text-align: center;
    color: black;
}
form
{
    width: 300px;
    margin-left: 20px;
}
form label
{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input
{
    width:100%;
    padding :7px;
    border: 1px solid gray;

}
button
{
    background-color: skyblue;
    color: white;
    border: none;
    width:100%;
    height: 35px;
    margin-top: 15px;
    margin-left: 10px;

}
p
{
    margin-left: 400px;
    color: white;
    font-size: medium;
}
p a
{
    color: aqua;
}

