body
{
    background-color: #344a72;
    font-family: 'Roboto',sans-serif;
}
h1
{
    text-align: center;
}

.Signup_box
{
    width: 360px;
    margin-top: 100px;
    margin-left: 400px;
    background-color: white;
    border-radius: 3px;
}
form
{
    width: 270px;
    height: 550px;
    margin-left: 10px;
}
form label
{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-top: 10px;
}
form input
{
    width: 300px;
    
}
button
{
    background-color: skyblue;
    color: white;
    border: none;
    width:100%;
    height: 35px;
    margin-top: 15px;
    margin-left: 20px;

}
